@mixin desktop {
    @media (min-height: 876px) {
        @content;
    }
}

.footerStatic {
    height: 5rem;
    background-color: #534335;
    width: 100%;
    color: #FFF;
    @include desktop(){
        position: absolute;
        bottom: 0;
    }
    .wrap{
        max-width: 1450px;
        padding: 10px 20px;
        margin: 0 auto;
    }
}