.directory {
    // max-width: 650px;
    // justify-content: space-around;
    // margin: 0 auto;
    // margin-top: 70px;
    // background-color: #E4E4E4;

    #bg {
        clip-path: polygon(0 40%, 100% 40%, 100% 100%, 0 100%);
        background-color: #E4E4E4;
        height: calc(100% - 6.5rem - 10rem);
        width: 100%;
        position: absolute;
        // z-index: -1;
        // margin: 0;

    }
    .wrap {
        h2 {
            font-size: 4rem;
            margin-top: 50px;
            margin-bottom: 30px;
            text-align: center;
        }
        .item-container {
            max-width: 650px;
            justify-content: space-around;
            margin: 0 auto;
            margin-top: 70px;
            display: grid;
            grid-column-gap: 100px;
            grid-template-areas: 
                "item-left item-right";
    
            .item-left {
                grid-area: item-left;
            }
    
            .item-right {
                grid-area: item-right;
            }
        }
        
    }
}