$colors: (
    primary: #534335,
    accent: #DF8E3B
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

$desktop: 841px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

.body{
    #bg {
        clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
        background-color: color(primary);
        height: 100%;
        width: 100%;
        position: absolute;

        @include desktop() {
            clip-path: polygon(29% 0, 100% 0, 100% 100%, 78% 100%);
        }
    }
    .konaImg {
        position: absolute;
        left: 50%;
        top: 40%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform:translate(-50%, -50%);
        transform: translate(-50%, -50%);
        @include desktop(){
            left: 60%;
            top: 50%;
        }
        img{
            display: block;
            margin: 0;
            width: 20rem;
            @include desktop(){
                display: block;
                margin: 0;
                width: 45rem;
            }
        }
    }
    .header {
        box-shadow: none;
        background-color: #FFF;
    
        .wrap {
            position: relative;
            height: 100%;
            max-width: 1450px;
            margin: 0 auto;
    
            .logo {
                width: 7.0rem;
                position: absolute;
                top: 80%;
                left: 45%;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                transform: translateY(-50%);

                @include desktop() {
                    width: 11.0rem;
                    position: absolute;
                    top: 100%; left: 30px;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
    
                img {
                    display: block;
                    width: 100%;
                    margin: 0;
                }
            }
    
        }
    }

    .tagLine {
        position: absolute;
        left: 50%;
        top: 75%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform:translate(-50%, -50%);
        transform: translate(-50%, -50%);
        @include desktop(){
            left: 20%;
            top: 50%;
        }

        h1 {
            font-size: 3rem;
            @include desktop(){
                font-size: 4rem;
            }
        }
        .buttonLink {
            font-size: 1.5rem;
            grid-area: button;
            color: #FFF;
            background-color: color(accent);
            border-radius: 15px;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            display: block;
            text-align: center;
            padding: 15px;
            margin-top: 20px;
        }

        .buttonLink:hover {
            background-color: #d97e21;
        }


    
    
    }

    


}


