$colors: (
    primary: #534335,
    accent: #DF8E3B
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

$desktop: 841px;

$tablet: 576px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) and (max-width: #{$desktop}) {
        @content;
    }
}

.headings{
    background-color: #f0ede8;
    padding-top: 10px;
    padding-bottom: 10px;
    h2 {
        font-size: 2rem;
        margin-top: 50px;
        margin-bottom: 10px;
        text-align: center;
        @include desktop(){
            font-size: 4rem;
            margin-bottom: 20px;
            
        }
        @include tablet(){
            font-size: 3rem;
        }
    }
    .subtitle{
        // margin-top: 50px;
        margin-bottom: 30px;
        text-align: center;
        font-size: 1.3rem;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 1.6;
        @include desktop(){
            padding-left: 300px;
            padding-right: 300px;
            font-size: 1.5rem;
        }
        @include tablet(){
            font-size: 1.5rem;
            padding-left: 150px;
            padding-right: 150px;
        }
    }

}
.about-us {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 20px;
    h3{
        font-size: 3rem;
        margin-bottom: 30px;
        text-align: center;
    }
    .images {
        width: 18rem;
        height: 18rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 20px;
    }
}